<ion-view title="{{request.requestId}}">
  <ion-content has-header="true" padding="true">
    <div><br></div>
    <div class="row">
      <div class="col col-33 text-center">ID</div>
      <div class="col col-33 text-center">Time</div>
      <div class="col col-33 text-center">Size</div>
    </div>
    <div class="row">
      <div class="col col-33 text-center">{{request.requestId}}</div>
      <div class="col col-33 text-center">{{request.mins}}</div>
      <div class="col col-33 text-center">{{request.groupSize}}</div>
    </div>
    
    <form onsubmit="this.reset();">

      <label class="item item-input">
        <div><span class="input-label">Offer</span></div>
        <div><input type="text" ng-model="offer"></div>
      </label>

      <button class="button button-block button-assertive" ng-click="accept(offer)" >Accept</button>
    </form>


  </ion-content>
</ion-view>