<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-assertive nav-title-slide-ios7">
  <ion-nav-back-button class="button-icon icon ion-chevron-left">
    Back
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top">


<!-- New Tab -->
  <ion-tab title="New" icon="icon ion-ios7-download icon-custom" href="#/rest/requests">
    <ion-nav-view name="rest-requests"></ion-nav-view>
  </ion-tab>


<!-- Sent Tab -->
  <ion-tab title="Sent" icon="icon ion-ios7-upload icon-custom" href="#/rest/existingOffers">
    <ion-nav-view name="rest-existingOffers"></ion-nav-view>
  </ion-tab>

<!-- Accepted -->
  <ion-tab title="Accepted" icon="ion-ios7-checkmark icon-custom" href="#/rest/acceptedOffers">
    <ion-nav-view name="rest-acceptedOffers"></ion-nav-view>
  </ion-tab>

<!-- Logout -->
  <ion-tab title="Logout" icon="icon ion-log-out icon-custom" href="#/rest/settings">
    <ion-nav-view name="rest-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
