<ion-view title="Sent Offers">
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="updateData()"
      refreshing-text="Refreshing!"
      refreshing-icon="ion-loading-c">
    </ion-refresher>


    <div class="item item-divider">
      <div class="row headers">
        <div class="col col-45">Arrival Time</div>
        <div class="col col-45">Group Size</div>
        <div class="col col-10"></div>
      </div>
    </div>
    
    <ion-list>
      <ion-item ng-repeat="existingOffer in existingOffers | orderBy:'updatedAt'" type="item-text-wrap">
        <div class="row row-cust">
          <div class="col col-45 request-time">
            <i class="icon ion-ios7-clock-outline"></i> {{existingOffer.targetDateTime | date:'shortTime'}}
          </div>
          <div class="col col-45 request-time">
            <i class="icon ion-person-stalker"></i> {{existingOffer.groupSize}} 
          </div>
          <div class="col col-10 swipe">
          </div>
          <!-- <div>test</div> -->
        </div>
        <span class='sent-offer'> <i class="icon ion-pricetag"></i> Offer Sent: {{existingOffer.results[0].replies}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
