<ion-view title="Restaurant Signup">
  <ion-content class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Business Name" ng-model='restInfo.businessName'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model='restInfo.address'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model='restInfo.city'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="State" ng-model='restInfo.state'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zip Code" ng-model='restInfo.zipCode'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Telephone" ng-model='restInfo.phoneNumber'>
      </label>
    </div>

    <div class="row">
      <button class="button button-block button-positive" ng-click='submit()'>Signup With Pronto</button>
    </div>
  </ion-content>
</ion-view>

