<ion-nav-bar class="bar-assertive nav-title-slide-ios7">
  <ion-nav-back-button class="button-icon icon ion-chevron-left">
    Back
  </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top">

  <ion-tab title="New" icon="icon ion-ios7-compose icon-custom" href="#/user/new">
    <ion-nav-view name="user-new"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Offers" icon="icon ion-ios7-checkmark icon-custom" href="#/user/active">
    <ion-nav-view name="user-active"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon="icon ion-log-out icon-custom" href="#/user/settings">
    <ion-nav-view name="user-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
