<ion-view title="Pronto">
  <ion-content class="has-header">
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap">
          <h2>Request Summary</h2>
          <div>
            {{response.radius}} miles from {{response.address}}
          </div>
          <div>
            Group of {{response.groupSize}} in {{response.mins}} mins
          </div>
        </div>
      </div>
    </ion-list>

  <div class="item item-divider">
    New Offers
  </div>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="updateData()"
    refreshing-text="Refreshing!"
    refreshing-icon="ion-loading-c">
  </ion-refresher>
  <ion-list can-swipe="true">
    <ion-item ng-repeat="offer in offers | filter: {status: filterOn} | orderBy:'updatedAt'" >

    <div class='row'>
      <div class='col'>
        <div>{{offer.businessName}}</div>
        <div>{{offer.address}}</div>
        <div>{{offer.distance | number:2}} miles away</div>
        <div>Expiration time: <span am-time-ago="offer.expirationDateTime"></span></div>
      </div>
      <div class='col'>
        <div>Offer</div>
        <div></div>
      </div>
        <ion-option-button class="button-positive" ng-click="reject(offer.businessId)">
          Decline
        </ion-option-button>
        <ion-option-button class="button-info" ng-click="accept(offer.businessId)">
          Accept
        </ion-option-button>
      </div>
    </div>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
