<ion-view title="Pronto">
  <ion-content class="has-header padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios7-location"></i>
        <input type="text" ng-model="model.inputLocation">
      </label>
    </div>
    Your location: {{model.inputLocation}}
    <div class="button-bar button-energize">
      <a class="button" ng-click='setDistance(0.5)'>0.5 mile</a>
      <a class="button" ng-click='setDistance(1)'>1 mile</a>
      <a class="button" ng-click='setDistance(5)'>5 miles</a>
      <a class="button" ng-click='setDistance(20)'>20 miles</a>
    </div>
    <br/>
    <div class="button-bar button-balanced">
      <a class="button" ng-click='setMins(15)'>15 mins</a>
      <a class="button" ng-click='setMins(30)'>30 mins</a>
      <a class="button" ng-click='setMins(45)'>45 mins</a>
      <a class="button" ng-click='setMins(60)'>60 mins</a>
    </div>
    <br/>
    <div>
      <label class="item item-input">
        <span class="input-label">Group Size</span>
        <input type="tel" ng-model='requestObj.groupSize'>
      </label>
    </div>

  <div class="row">
    <div class="col col-33 col-offset-33">
      <button class="button button-positive" ng-click='sendRequest()'>Submit</button>
    </div>
  </div>
  </ion-content>
</ion-view>
