<ion-view title="Offers">
  <ion-content class="has-header has-padding offers-style">
    <ion-list>
        <div class="center" ng-hide = "hideRequest || defaultHide">
          <div class = 'request-summary-title'>Request Summary</div>
          <div class = 'request-summary-detail'>
            {{response.radius}} miles from {{response.address}}
          </div>
          <div class = 'request-summary-detail'>
            Group of {{response.groupSize}} in {{response.mins}} mins
          </div>
        </div>
        <div class="center" ng-hide = "!hideRequest || defaultHide">
          <div class>Please Submit A Request</div>
        </div>
    </ion-list>
  <div class="item item-divider offers-divider" ng-hide = 'defaultHide'>
    {{ filterOn === 'Offered' && 'New Offers' || 'Accepted Offer'}}
  </div>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="updateData()"
    refreshing-text="Refreshing!"
    refreshing-icon="ion-loading-c">
  </ion-refresher>

  <div class="list card" ng-repeat="offer in offers | filter: {status: filterOn} | orderBy:'updatedAt'" ng-hide = "filterOn === 'Accepted' || isExpired(offer.expirationDateTime)">
    <div class="item item-body rest-details">
      <div class = 'rest-name'>{{offer.businessName}} </div>
      <div ng-show="{{offer.yelpReviews}} > 0">
        <span ng-class= "calculateStars(offer.yelpStars)"></span>
        <span class="rest-reviews">{{offer.yelpReviews}} Reviews</span>
      </div>
      <div class = 'rest-address'>{{offer.address}} ({{offer.distance | number:2}} mi away)</div>
      <div class="rest-expire">Expire<span am-time-ago="offer.expirationDateTime"></span></div>
      <div class = 'rest-offer'><i class="icon ion-pricetag"></i> Offer: {{offer.replies}}</div>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="accept(offer.businessId)">
        <i class="icon ion-ios7-checkmark-outline"></i>
        Accept
      </a>
      <a class="tab-item" ng-click="go(offer.yelpUrl)" ng-show="{{offer.yelpReviews}} > 0">
        <img class="yelp-icon" src="img/yelp-icon.png">
        Yelp
      </a>
      <a class="tab-item" ng-click="reject(offer.businessId)">
        <i class="icon ion-ios7-close-outline"></i>
        Decline
      </a>
    </div>
  </div>

  <div class="list card" ng-repeat="offer in offers | filter: {status: filterOn} | orderBy:'updatedAt'" ng-hide = "filterOn === 'Offered'">
    <div class="item item-body rest-details">
      <div class = 'rest-name'>{{offer.businessName}} </div>
      <div ng-show="{{offer.yelpReviews}} > 0">
        <span ng-class= "calculateStars(offer.yelpStars)"></span>
        <span class="rest-reviews">{{offer.yelpReviews}} Reviews</span>
      </div>
      <div class = 'rest-address'>{{offer.address}} ({{offer.distance | number:2}} mi away)</div>
      <div class = 'rest-offer'><i class="icon ion-pricetag"></i> Offer: {{offer.replies}}</div>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left" ng-show="{{offer.yelpReviews}} > 0">
      <a class="tab-item" ng-click="go(offer.yelpUrl)">
        <img class="yelp-icon" src="img/yelp-icon.png">
        Yelp
      </a>
    </div>
  </div>

  </ion-content>
</ion-view>
