/* Empty. Add your own CSS if you like */

.map {
  width: 500px;
  height: 400px;
}

.login {
  border: none;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #FF0000;
  background-color: #EBEBEB;
}

.login-page {
  background-color: #EBEBEB;
}

.hr-logo{
  height:auto;
  width: 26px;
}

.logo {
  margin-top: 100px;
  margin-bottom: 30px;
}

.business-signin {
  font-size: 15px;
  color: grey;
  margin-top: 12px;
}
.google-signin {
  margin-top:20px;
  width: 200px;
  height: auto;
}

.fork-knife-logo {
  height:auto;
  width: 100px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.user-new {
  font-size: 10px;
}

.request-summary-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3em;
}

.request-summary-detail {
  font-size: 12px;
  line-height: 1.3em;
}

.rest-details {
  color: black;
  line-height: 1.4em;
  font-size: 12px;
  font-family:Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

.rest-name{
  line-height: 1.5em;
  font-size: 15px;
  font-weight: bold;
}

.rest-reviews {
  padding-left: 10px;
}

.rest-expire{
  font-weight: 500;
  color: rgb(84,84,84);
}

.rest-offer{
  /*font-size: 14px;*/
  font-weight: bold;
}

.icon-custom{
  color : #ef4e3a;
}

.center{
  padding: 5px;
  border: none;
  text-align: center;
}

.rating {
  height: 14px;
  width: 82px;
  float: left;
  background-image: url('../img/stars_map.png');
}

.stars_0 {
    background-position: -3px -3px;
}

.stars_1 {
    background-position: -3px -21px;
}

.stars_1_half {
    background-position: -3px -39px;
}

.stars_2 {
    background-position: -3px -57px;
}

.stars_2_half {
    background-position: -3px -75px;
}

.stars_3 {
    background-position: -3px -93px;
}

.stars_3_half {
    background-position: -3px -111px;
}

.stars_4 {
    background-position: -3px -129px;
}

.stars_4_half {
    background-position: -3px -147px;
}

.stars_5 {
    background-position: -3px -165px;
}

.item-body {
  padding: 5px 10px 5px 10px;
}

.yelp-icon {
  width: 25px;
  height: auto;
  vertical-align: middle;
}

a.tab-item{
  vertical-align: middle;
}

.tab-item{
  font-weight: 500;
}

.card {
  margin: 15px 10px;
}
