<!DOCTYPE html>
<html>
  <head>
    <title>Pronto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/bower_components/jquery/dist/jquery.js'></script>
  </head>
  <body>
  <a href="/logout"><button type='button'>Logout</button></a>

  <div>
    Submit Offer:
    <form>
      <div><input type='text' id='requestId' placeholder='Request ID'></div>
      <div><input type='text' id='offer' placeholder='Offer (e.g., Free drinks)'></div>
      <div><input type='submit' id='submit' value='Submit'></div>
    </form>
  </div>
  <script>
    $(function () {
      $('#submit').on('click', function (e) {
        e && e.preventDefault();
        $.ajax({
          type: "POST",
          url: '/business/offers',
          data: {requestId: $('#requestId').val(), offer: $('#offer').val()}
        });
      });
    });
  </script>
  </body>
</html>
