<!DOCTYPE html>
<html>
  <head>
    <title>Pronto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class='header'>
      <div class='sitename'>
        <h1>Pronto</h1>
      </div>
      Business Login:
      <div class='business/login'>
        <form action='/business/login' method='POST'>
          <input type='text' name='email' placeholder='Email'>
          <div><input type='password' name='password' placeholder='Password'></div>
          <input type='submit' value='Login'>
        </form>
      </div>
    </div>

    <div class='content'>

      <p></p>
      <div class='signup'>
        Business Signup:
        <form action='/business/signup' method='POST'>
          <div><input type='text' name='businessName' placeholder='Business Name'></div>
          <div><input type='text' name='address' placeholder='Business Address'></div>
          <div><input type='text' name='city' placeholder='City'></div>
          <div><input type='text' name='state' placeholder='State'></div>
          <div><input type='text' name='zipCode' placeholder='Zip Code'></div>
          <div><input type='text' name='firstName' placeholder='First Name'></div>
          <div><input type='text' name='lastName' placeholder='Last Name'></div>
          <div><input type='text' name='email' placeholder='Email'></div>
          <div><input type='text' name='phoneNumber'placeholder='Phone Number'></div>
          <div><input type='password' name='password' placeholder='Password'></div>
          <div><input type='submit' value='Submit'></div>
        </form>
      </div>
    </div>

  </body>
</html>
