<!DOCTYPE html>
<html>
  <head>
    <title>Pronto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pronto</h1>
    <p>Welcome to Pronto!</p>
  </body>
</html>
