<!DOCTYPE html>
<html>
  <head>
    <title>Pronto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class='header'>
      <div>
        <h1 class='sitename'>Pronto</h1>
        <p></p>
        <a href="/about">How it works</a>
        <p></p>
      </div>
      <div class='login'>
        Signup Here:

        <form action='/login' method='POST'>
          <input type='text' name='email' placeholder='Email'>
          <div><input type='password' name='password' placeholder='Password'></div>
          <input type='submit' value='Login'>
        </form>
      </div>
    </div>

    <div class='content'>
      <p></p>

      <div class='signup'>
        Signup Here:
        <form action='/signup' method='POST'>
          <div><input type='text' name='email' placeholder='Email' type='email'></div>
          <div><input type='password' name='password' placeholder='Password'></div>
          <div><input type='text' name='firstName' placeholder='First Name'></div>
          <div><input type='text' name='lastName' placeholder='Last Name'></div>
          <div><input type='text' name='phoneNumber'placeholder='Phone Number'></div>
          <div><input type='submit' value='Signup'></div>
        </form>
      </div>
    </div>
    <p></p>
        <div><a href="/business">Business Users Click Here</a></div>

  </body>
</html>
