<!DOCTYPE html>
<html>
  <head>
    <title>Pronto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/logout"><button type='button'>Logout</button></a>
   YOU MADE IT!!!!

  <div class='request'>
    Signup Here:
    <form action='/request' method='POST'>
      <div><input type='text' name='address' placeholder='Starting Address'></div>
      <div><input type='text' name='city' placeholder='City'></div>
      <div><input type='text' name='state' placeholder='State'></div>
      <div><input type='text' name='radius' placeholder='How far (miles)'></div>
      <div><input type='date' name='targetDate' placeholder='When'></div>
      <div><input type='time' name='targetTime' placeholder='What Time'></div>
      <div><input type='text' name='groupSize'placeholder='Group Size'></div>
      <div><input type='text' name='requestNotes' placeholder='Notes'></div>
      <div><input type='submit' value='Submit Request'></div>
    </form>
  </div>


  </body>
</html>
