body {
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  width: 500px;
  font-family: Trebuchet MS;
  text-align: center;
}
input {
  height: 20px;
  width: 150px;
  border-radius: 5px;
}
p {
  font-size: 20pt;
}
html {
  background-color: #FFE773;
}
.logout {
  float: right;
}
.step1 {
  width: 200px;
}
.step2 {
  width: 400px;
}
.step3 {
  width: 200px;
}
table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}
td,
th {
  vertical-align: center;
  border: 1px solid #33CC00;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}
