/* Empty. Add your own CSS if you like */

.map {
  width: 500px;
  height: 400px;
}

.login {
  background-color: transparent;
  border: none;
}

.login img {
    width: 100%;
    height: auto;
}

.login2 {
  width: 200px;
  height: 120px;
}

.logo {
  background-color: transparent;
  border: none;
}
