/* Empty. Add your own CSS if you like */

.map {
  width: 500px;
  height: 400px;
}

.login {
  background-color: transparent;
  border: none;
}

.login img {
    width: 100%;
    height: auto;
}

.user-new {
  font-size: 10px;
}
