<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Pronto</title>
    <script type="text/javascript" src='/bower_components/angular/angular.js'></script>
    <script type="text/javascript" src='/dashboard.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body ng-controller='mainCtrl'>
    <div class='header'></div>
      <h1><span class='logo'>Pronto</span></h1>
<!--       <a class='logout' href="/logout"><button type='button'>Logout</button></a>
 -->
      <div class='request'>
        Submit a new request here:
        <p></p>
        <!-- action='/request' method='POST'  -->
        <form ng-submit='sendRequest()'>
          <div><input type='text' ng-model='address' name='address' placeholder='Starting Address'></div>
          <div><input type='text' ng-model='city' name='city' placeholder='City'></div>
          <div><input type='text' ng-model='state' name='state' placeholder='State'></div>
          <div><input type='text' ng-model='radius' name='radius' placeholder='How far (miles)'></div>
          <!-- <div><input type='date' ng-model='targetDate' name='targetDate' placeholder='When'></div> -->
          <!-- <div><input type='time' ng-model='targetTime' name='targetTime' placeholder='What Time'></div> -->

          <div><input type='text' ng-model='groupSize' name='groupSize'placeholder='Group Size'></div>
          <div><input type='text' ng-model='requestNotes' name='requestNotes' placeholder='Notes'></div>
          <div>
            When:
            <select ng-model ='targetTime'>
              <option value='0'>Pronto</option>
              <option value='15'>15 mins</option>
              <option value='30'>30 mins</option>
              <option value='45'>45 mins</option>
              <option value='60'>1 hr</option>
            </select>
          </div>
          <div><input type='submit' value='Submit Request'></div>
        </form>
      </div>

      <div class='body' ng-Controller='contentCtrl'>
        <p></p>
        <table>
          <caption><h3>Current Requests</h3></caption>
          <tr>
            <th>ID</th>
            <th>Date/Time</th>
            <th>Group Size</th>
            <th>Notes</th>
            <th>Offers</th>

          </tr>
          <tr ng-repeat='detail in details | orderBy: "requestId":true'>
            <td>{{ detail.requestId }}</td>
            <td>{{ detail.targetDateTime | date:'MM-dd HH:mm'}}</td>
            <td>{{ detail.groupSize }}</td>
            <td>{{ detail.requestNotes }}</td>
            <td >
              <div ng-repeat = 'items in detail.results'>
                <div>
                  <div>Business: {{items.businessName}}</div>
                  <div>Offering: {{items.offer}}</div>
                  <div>Location: {{items.address}}</div>
                  <div>Distance {{items.distance | number:2}} miles</div>
                  <div><button ng-click='acceptOffer(detail.requestId,items.businessName)' type='button'>Accept Offer</button></a></div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <p>
    <div class='footer'>by Jimmy Tsao</div>
  </body>
</html>
